* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin: auto;
    text-align: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(45deg, rgb(11, 80, 26) 0%, rgb(1, 148, 20) 100%);
    background-image: url(/assets/img/pokerBoardGreyGreen.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #001d04;
}

.sum-container {
    width: 9%;
    display:flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
}


#dealer-total, #player-total {
    font-size: 1em; 
}

#dealer-total {

}

#player-total {
    margin-top: 13vh;
}
#points, #lives{
    margin: 0 72px;
}

#banner {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    height: 7vh;
    top: 5%;
    left: 0;
    right: 0;
    text-align: center;
}

#poker-table {
    position: absolute;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    height: 60vh;
    top: 5%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: -1;
}

.board-container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.dealer {
    margin-top: 7.5vh;
}

.player {
    margin-top: 0vh;
}

.dealer, .player {
    height: fit-content;
    width: auto;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 1vw;
}

.dealer img, .player img {
    margin: 2.5vh 1vw;
    transform: scale(1.5);
    height: 9.2vh;
}

#hidden-card {
    border-radius: 8px;
    box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.50);
    -webkit-box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.50);
    -moz-box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.50);
}

.buttons {
    margin: 3vh auto 0 auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.buttons button {
    font-size: 1em;
    font-weight: bold;
    width: 180px;
    height: 70px;
    margin: 20px 40px;
    background-image: linear-gradient(#ff5656, #b30000);
    color: white;
    border-color: white;
    border-radius: 50px;
    cursor: pointer;
}

.buttons button:hover {
    box-shadow: 0px 7px 39px -11px rgba(0,0,0,0.78);
    background-color: #e40000;
    background-image: linear-gradient(#b30000, #ff5656);
}

#game-over, #next-round {
    opacity: 0%;
    transition: opacity 1200ms;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background-color:  #00000070;
    height: 100vh;
    width: 100vw;
}

.game-over-container, .next-round-container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("/assets/img/pokerBoardGreen.png");
    background-size: 100vw;
    background-position: center center;
    height: 200px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 50px;
    border: 2px solid white;
}

.play-again {
    background-image: linear-gradient(#ff5656, #b30000);
    color: white;
    border-color: white;
    border-radius: 50px;
    font-size: 1em;
    cursor: pointer;
    margin: 16px;
    padding: 15px 20px;
}

.play-again:hover {
    box-shadow: 0px 2px 30px -11px rgba(0,0,0,0.78);
    background-color: #e40000;
    background-image: linear-gradient(#b30000, #ff5656);
}

.card-image {
    border-radius: 8px;
    box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.50);
    -webkit-box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.50);
    -moz-box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.50);
}